#background {
    background-color:black;
    height: 100%;
    width: 100%;
}

#makeBackgroundFullScreen{
    background-color:black;
    margin-top:100%;
}

#buyShop{
    margin-left:50%;
    margin-right:50%;
}
